[submodule "NovusCore/NovusCore-Common"]
	path = NovusCore/NovusCore-Common
	url = https://github.com/novuscore/NovusCore-Common.git
[submodule "NovusCore/NovusCore-Client"]
	path = NovusCore/NovusCore-Client
	url = https://github.com/novuscore/NovusCore-Client.git
[submodule "NovusCore/NovusCore-Tools"]
	path = NovusCore/NovusCore-Tools
	url = https://github.com/novuscore/NovusCore-Tools.git
[submodule "NovusCore/NovusCore-AuthMaster"]
	path = NovusCore/NovusCore-AuthMaster
	url = https://github.com/novuscore/NovusCore-AuthMaster.git
[submodule "NovusCore/NovusCore-Service"]
	path = NovusCore/NovusCore-Service
	url = https://github.com/novuscore/NovusCore-Service.git
[submodule "NovusCore/NovusCore-Auth"]
	path = NovusCore/NovusCore-Auth
	url = https://github.com/novuscore/NovusCore-Auth.git
[submodule "NovusCore/NovusCore-Region"]
	path = NovusCore/NovusCore-Region
	url = https://github.com/novuscore/NovusCore-Region.git
[submodule "NovusCore/NovusCore-LoadBalancer"]
	path = NovusCore/NovusCore-LoadBalancer
	url = https://github.com/novuscore/NovusCore-LoadBalancer.git
[submodule "NovusCore/NovusCore-Gameplay"]
	path = NovusCore/NovusCore-Gameplay
	url = https://github.com/novuscore/NovusCore-Gameplay.git
[submodule "NovusCore/NovusCore-World"]
	path = NovusCore/NovusCore-World
	url = https://github.com/novuscore/NovusCore-World.git
