[submodule "NovusCore/NovusCore-Common"]
	path = NovusCore/NovusCore-Common
	url = https://github.com/novuscore/NovusCore-Common.git
[submodule "NovusCore/NovusCore-Client"]
	path = NovusCore/NovusCore-Client
	url = https://github.com/novuscore/NovusCore-Client.git
[submodule "NovusCore/NovusCore-Tools"]
	path = NovusCore/NovusCore-Tools
	url = https://github.com/novuscore/NovusCore-Tools.git
[submodule "NovusCore/NovusCore-AuthMaster"]
	path = NovusCore/NovusCore-AuthMaster
	url = https://github.com/novuscore/NovusCore-AuthMaster.git
[submodule "NovusCore/NovusCore-Service"]
	path = NovusCore/NovusCore-Service
	url = https://github.com/novuscore/NovusCore-Service.git
